@import url('https://raw.githubusercontent.com/14sprouj/14sprouj/dashy/dashy/dashy.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap');

html[data-theme='adventure-basic'] {
	--font-headings {
	font-family: "Baloo 2","Baloo","Podkova","Roboto",sans-serif;
	}

	h1 {
	font-family: "Baloo 2", "Baloo";
	}

	.there-are-items[data-v-78612a5e] .sub-items-group, .sub-items-group[data-v-56a3953c] {
	flex-basis: initial;
	}

	.tile-icon.small {
		max-width: unset;
		max-height: 5rem;
	}
	.tile-icon {
		min-width: 1rem;
		max-width: unset;
		min-height: unset;
		max-height: 2rem;
		-o-object-fit: cover;
		object-fit: cover;
		-webkit-filter: var(--item-icon-transform);
		filter: var(--item-icon-transform);
		border-radius: var(--curve-factor);
	}
}